/*
Colors used:
Background (whipped cream): #fdf9f4;
Text/ headings (epresso): #5c4630;
Accent/ Buttons(lemon zest): #f7d488;
Hover state/ Icons (Mint Leaf): #a0db5d;
Subtle Highlights (Berry Glaze): #d7a9b9;
*/

/* Typography */  
float-text img{
  float: left;
  margin: 0 0.625em 0.625em 0
}
* {
  box-sizing: border-box;
}
#hero {
  background-color: #ffe4c4;
}
#hero {
  background-color: #f7d488;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
body{
   font-family: "DM Serif Display", serif; 
   font-weight:400;
   font-style: normal;
   line-height: 1.3;
   font-size: 16px;
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

p {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
    font-size: 18px;
    padding-left: 20x;
    margin-bottom: 1em;
    font-family: "DM Serif Display", serif; 
    font-weight:400;
    font-style: normal;
    line-height: 1.3;
}
li {
    margin-bottom: 0.5em;
}
}
 body{
    background-color: #fdf9f4;
 }
 h1, h2, h3, p, ul, li {
    color: #5c4630;
 }

 body{
 img {
  width: 100%;
}
 }
/* Spacing */  
 header {
  background-color:#f7d488;
  padding: 0em 0em .625em 0em;
 }
header {
  background-color: #f7d488;
  text-align: center;
  padding: 10px 0;
}
header{
  position: fixed;
  width: 100%;
}
.main-image {
  float: left;
  height: auto;
  width: 30%;
  margin: 0 1em 1em 0;
  border-radius: 1.25em;/*rounded corners */
}
.logo {
  max-width: 250px;
  margin: 1.25em;
}
a {
  color: #5c4630;
  text-decoration: underline; /* underlining */
}

a:visited { /* visited link */
  color: #5c4630;
}
a:hover {
  color: #a0db5d;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #f7d488;
}
a:hover,
a:focus {
  color:#a0db5d;
  text-decoration: underline;
}



/* Footer */ 
footer {
  background-color:#f7d488;
  padding: 0.625em;
  text-align: center;

}
footer{
.footer-icon {
  height: auto;
  width: 10%;
  margin-right: 24px;
}
.footer-icon2 {
  height: auto;
  width: 15%;
  margin-right: 24px;
}

}

/* Layout styling */
.container {
  padding: 0 15px;
  margin: auto;
  max-width: 1200px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row { 
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
 text-decoration: none;
 color: #5c4630;
 font-weight: 700;
 text-transform: uppercase;
 padding: 0 15px;
}

nav ul li a :hover {
  opacity: 0.85; /* Reduces the opacity of the button to 85% */
  text-decoration: none;
  display:inline-block;
  width: 100%;
}

 nav ul li a.contact {
  background-color: transparent;
  color: #d7a9b9;
  text-transform: uppercase;
  border: 2px solid #d7a9b9;
  text-decoration: none;
  display:inline-block;
  width: 100%;
}
nav ul li a.contact:hover {
  background-color: #d7a9b9;
  color: #ffffff;
  text-decoration: none;
  display:inline-block;
  width: 100%;
}

/* Typography styling */
#hero h1, 
#hero h2, 
#hero p {
  text-align: center; /* Centers text */
}
main {
  padding-top: 133px;
}
.projects h2 {
  text-align: center;
}
/* Botton KEEP AT VERY END OF CSS */  
.resume-button-wrapper{
  clear: both;
  margin-top: 1em;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #d7a9b9;
  color: #5c4630; /* needed to override the default link color */
  font-size: 16;
  font-weight: 400;
  padding: 0.625em 1.25em;
  margin: 1.25em 1.25em 1.25 0;
  border-radius: 1.25em;/*rounded corners */
  transition: 0.2s opacity;
  text-decoration: none;
}
.button:hover {
  opacity: 0.85; /* Reduces the opacity of the button to 85% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #5c4630;
  text-transform: uppercase;
  border: 2px solid #5c4630;
  text-decoration: none;
  margin-bottom: 1.25em;
}
.button.contact:hover {
  background-color: #d7a9b9;
  color: #ffffff;
  text-decoration: none;
}
